
.report-map-block {
    margin-top: 40px;
}

.link-to-map {
    width: 50%;
    color: #fff;
    background-color: #405d9d;
    padding: 56px 50px;
    margin-left: 20px;
}

.link-to-report {
    width: 50%;
    color: #000;
    background-color: yellow;
    padding: 56px 50px;
    margin-left: 20px;
}