* {
    box-sizing: border-box;
}

.activities {
    width: 1080px;
    height: 340px;
    margin: 100px auto;
    background-color: rgba(128, 128, 128, 0.164);
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}

.activities__image {
    width: 510px;
}

.activities__content {
    width: 540px;
    padding-left: 30px;
    margin-left: 15px;
}

.activities__name {
    color: #555555;
    font-family: "Montserrat", sans-serif;
    font-size: 17.5px;
    font-weight: 700;
    line-height: 21px;
    margin: 18px 0 20.75px 189px;
}

.activities__desc1,
.activities__desc2,
.activities__desc3,
.activities__desc4 {
    font-family: system-ui, sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin: 0 0 22.2px;
    text-align: left;
    animation: move 1.25s ease-out;
}

@keyframes move {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}