/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Open sans", sans-serif;
    line-height: 1.5;
}
/* General */
    .row {
        width: 90%;
        margin: 0 auto;
    }
    .col-half {
        width: 50%;
        float: left;
    }
    .col-third {
        width: calc(100%/3);
        float: left;
        margin-top: 35px;
    }
    .col-fourth {
        width: 25%;
        float: left;
    }
    .clear::after {
        content: "";
        display: block;
        clear: both;
    }
    .underline::after {
        content: "";
        display: block;
        width: 50px;
        height: 2px;
        margin-top: 5px;
        background-color: #9c1010;
    }
    .color-black {
        color: #333!important;
    }



/* main */
header {

}
header .logo {
    position: relative;
}
#i-search {
    display: none;
    position: absolute;
    top: 25px;
    right: 40px;
    padding: 5px;
}
header .logo img {

}
.subnav {
    float: right;
    margin-top: 30px;
}
.subnav li {
    margin: 0 15px;
}
.subnav li a {
    text-decoration: none;
    color: #666666;
    font-size: 18px;
}
.subnav li button {
    border: none;
    outline: none;
    font-size: 18px;
    background: none;
}
.subnav li button:hover {
    color: #f66249;
}
#first-header {
    background-color: #202c45;
}
.nav {
    margin-left: -5px;
}
.nav li, .subnav li {
    list-style-type: none;
    display: inline-block;
}
.nav li {
    padding: 5px 10px;
}
.nav li a {
    color: #fff;
    text-decoration: none;
}
.col-half-special {
    float: left;
    width: 40%;
}
/* navigator */
.navigator {
    margin: 20px 0;
    margin-left: 30px;
}
.navigator li {
    position: relative;
    width: 350px;
    height: 40px;
    margin-left: 30px;
    line-height: 40px;
    padding-left: 25px;
    color: #eee;
    background-color: rgba(32, 44, 69, 0.9);
    list-style-type: none;
    margin: 5px 0;
}
.navigator li::before {
    position: absolute;
    top: 0;
    left: -30px;
    width: 40px;
    height: 40px;
    content:"-";
    display: inline-block;
    background-color: #9c100f;
    text-align: center;
    cursor: pointer;
}
form {
    
}
form label {
    margin: 5px 0;
    display: inline-block;
}
form label:nth-of-type(2) {
    margin-top: 20px;
}
form label::after {
    display: inline-block;
    padding-left: 6px;
    color: red;
    content: "*";
}
form input {
    display: block;
    padding: 10px 5px;
    width: 100%;
    color: #222;
    border-radius: 4px;
    border: 1px solid #333;
}
form button {
    padding: 8px 14px;
    background-color: rgba(32, 44, 69, 0.9);
    color: #eee;
    border: none;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    cursor: not-allowed;
}
/* Section */
section {
    min-height: 300px;
}
/* Content */
#content {
    background-color: rgba(32, 44, 69, 0.9);
}
h3.underline {
    padding-top: 30px;
    color: #ffffff;
    font-weight: 400;
    font-size: 24px;
}
.all-item {
    margin-top: 20px;
    margin-left: -15px;
    margin-right: -15px;
}
.item {
    padding: 0 15px;
    margin-bottom: 60px;
}
.item-content {
    /* background-color: rgba(255, 255, 254, 0.8); */

    background-color: aliceblue;
    padding:0 15px;
}
.item img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.item-content .name {
    color: #000;
    display: inline-block;
    margin: 10px 0;
    text-decoration: none;
    font-weight: 550;
}
.item-content .name:hover {
    color: #f66248;
}
.item-content p {

}
.item-content .detail {
    display: inline-block;
    text-decoration: none;
    padding: 8px 25px;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    background-color: #f44336;
    color: #000;
}
/* footer */
footer {
    background-color: #111116;
}
footer p {
    color: #fff;
    font-size: 14px;
    margin: 3px 0;
}
p i {
    color: #9c100f;
    padding-right: 5px;
}
footer ul {

}
footer h2 {
    color: #fff;
    font-weight: 300;
}
.t-footer ul li {
    color: #fff;
    list-style-type: none;
    padding: 6px;
    border: 1px solid #fff;
    margin: 5px 0;
    font-size: 14px;
}
.t-footer ul li:hover {
    cursor: pointer;
    color: #333;
    background-color: #ccc;
}
.fnav {

}
.s-footer h2 {
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.fnav li {
    padding: 10px 0;
    width: 250px;
    border-bottom: 1px dashed #404040;
}

.fnav li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}
.fnav li a:hover {
    opacity: 0.6;
}
.copyright {
    background-color: #000;
    color: #fff;
}
.copyright p {
    padding: 5px 0;
    line-height: 20px;
    font-size: 15px;
}