.sc-listchat-item {
    display: inline-block;
    margin-left: 15px;
    cursor: pointer;
}

.sc-listchat-item:hover p {
    font-weight: 800;
}

.sc-listchat-item-photo {
    margin-left: 9px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
}

p.sc-listchat-item-title {
    text-align: center;
    font-size: 10px;
    height: 35px;
    width: 43px;
}