body{
    margin: 0;
    padding: 0;
    background-image: url("back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.loginbox{
    position: absolute;
    top: 30%;
    left: 50%;
    width: 320px;
    transform: translate(-50%, -50%);
}

.loginbox h1{
    font-size: 40px;
    border-bottom: 6px soild #66ff66;
    padding: 10px 0;
    margin-bottom: 50px;
    float: left;
}