* {
    box-sizing: inherit;
}

html {
    font-size: 100%;
    line-height: 1.6rem;
    box-sizing: border-box;
}


.user-manual {
    margin: 40px;
    transition: all linear 0.3;
}

.user-manual strong {
    font-weight: bold;
}

.user-manual__toggle-btn {
    border: none;
    padding: 10px 24px;
    border-radius: 32px;
    min-width: 180px;
    background-color: #27e450;
    color: #111;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-manual__step-list {
    display: none;
    margin: 18px;
    animation: fadeIn linear 0.3s;
}

@keyframes fadeIn {
    from {opacity: 0;} to { opacity: 1;}
}

.user-manual__step-list--active {
    display: block;
    opacity: 1;
}

.user-manual__step-item {
    line-height: 1.6;
    font-size: 16px;
}

.user-manual__step-tilte {
    font-weight: 600;
}
