h1{
    text-align: center;
}
button{
    display: inline-block;
    font-size: 20px;
    margin: 10px auto;
    padding: 10px 10px;
    
}

.btn{
    width: 260px;
    margin: 0 auto;
    /* position: relative; */
}

#selected_img{
    display: block;
    max-width: 600px;
    max-height: 600px;
    width: auto;
    height: auto;
    padding: 15px 15px;
}
#image{
    filter: grayscale(100%);
    display: block;
    max-width: 600px;
    max-height: 600px;
    width: auto;
    height: auto;
    padding: 15px 15px;
}